.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

.container_second {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 40px 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    flex: 1;
    overflow-y: auto;
}

.boxes{
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    user-select: none;
}

.inputs {
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    margin-top: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.inputs:focus {
    color: #1a4f77;
    border-color: #1a4f77;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}


.botao{
    margin-top: 10px;
    width: 200px;
    user-select: none;
}

.center {
    display: flex;
}