.container {
  width: 190px;
  min-width: 60px;
  background-color: #f7f9fc;
  padding: 1rem 0.5rem;
  transition: width 0.3s ease;
  border-right: 1px solid #ccc;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.recolhido {
  width: 60px;
}

.toggle {
  cursor: pointer;
  display: flex;
  /* justify-content: flex-end; */
  padding: 0.5rem;
  user-select: none;
}

.navigator ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigator li {
  padding: 0.8rem;
  margin: 2.5px 0;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
}

.navigator li:hover {
  background-color: #e4e7eb;
}

.selected {
  background-color: #1a4f77;
  color: white;
}

.label {
  padding-left: 0.8rem;
  padding-top: 0.5rem;
  transition: opacity 0.3s ease, width 0.3s ease;
  user-select: none;
}

.labelHidden {
  display: none;
}

.label span {
  font-size: 0.8rem;
  color: #999;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.3s ease, width 0.3s ease;
}

/* Esconde os textos e títulos quando o menu estiver recolhido */
.recolhido .label span,
.recolhido .navigator li span {
  opacity: 0;
  width: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Exibe textos normalmente quando expandido */
.navigator li span {
  opacity: 1;
  visibility: visible;
  width: auto;
  transition: opacity 0.3s ease, width 0.3s ease;
}

.logout {
  width: 20px;
  margin-left: 0.5rem;
}