.top_title{
    width: 100%;
    border-bottom: 2px solid #1a4f77;
    padding: 1%;
    background-color: #1a4f77;
    color: #fff;
    text-align: center;
    user-select: none;
    padding-left: 13%;
}